<div class="row mx-0 p-2">
    <h5 class="text-center">Список оборудований для оформления</h5>
    <hr class="hr">
</div>
<form action="{{ url_for('prepare_for_arrange') }}" method="post" class="" id="arrange_form"
      style="font-size: 1em">
    <table id="arrange_table" class="table table-bordered table-sm">
        <thead class="thead-dark text-center">
        <tr>
            <th class="align-middle">Инвент.</th>
            <th class="align-middle">Название</th>
{#            <th class="align-middle">Серийный номер</th>#}
            <th class="align-middle">Тип</th>
            <th class="align-middle"></th>
        </tr>
        </thead>
        <tbody id="arrange_form_body">

        </tbody>
    </table>

    <div id="arrange_form_actions">
    </div>
    <div>
{#        <hr class="hr">#}
        <button class="button btn-sm btn-info" type="submit">Оформить</button>
        <button class="button btn-sm btn-info" type="button" id="clear_for_arrange_table">Очистить</button>
    </div>
</form>
<hr class="hr">

<section class="row justify-content-end">
    <div class="col">
        {% with messages = get_flashed_messages(with_categories=True) %}
            {% if messages %}
                {% for message in messages %}
                    <div class="alert {{ message[0] }} alert-dismissible fade show" role="alert">
                        <span>{{ message[1] }}</span>
                        <button type="button" class="close jus" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>
</section>

